{% extends 'layout.html' %}

{% block js_includes %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>
/* global $ */
$(function(){

    $('#payment-form').submit(function(event){
        // Prevent the default of behaviour of clicking on the form's submit button
        // In general, preventDefault() can be used to override the browser's defualt behaviour
        event.preventDefault();
        
        let stripe_publishable_key = '{{stripe_publishable_key }}';
       
        /* global Stripe */
        Stripe.publishableKey = stripe_publishable_key;
        // This is to create a card object according to the Stripe's specification
        var card = {
            number: $("#id_credit_card_number").val(),
            expMonth: $("#id_expiry_month").val(),
            expYear: $("#id_expiry_year").val(),
            cvc: $("#id_cvv").val()
        };
        let form = this;
        
        Stripe.createToken(card, function(status, response){
            if (status == 200) {
                $('#id_credit_card_number').removeAttr('name');
                $('#id_cvv').removeAttr('name');
                $("#id_expiry_month").removeAttr('name');
                $("#id_expiry_year").removeAttr('name');
                $("#id_stripe_id").val(response.id);
                form.submit();
            }  else {
                alert("Credit card problem");
            }
        })
        
      
    })
});
</script>
{% endblock %}

{%block content %}
<h1>Checkout</h1>
<p>
    Please double check that you really want buy those things because there will be no refund
</p>
<ul>
    {% for key,value in cart.items %}
    <li>{{value.product.title}}
    <br>Quantity:{{value.qty}}
    {% endfor %}
</ul>

    <form method="POST" id='payment-form'>
    {% csrf_token %}
    {{ order_form.as_p }}
    
    {{ payment_form.as_p }}
    
    <input type='submit'>
</form>

{%endblock%}